*{
    padding: 0%;
    margin: 0%;
}

div{
    background-color: palevioletred;
    height: 20px;
    border-color: blue;
    border-width: 3px;
    border-style: solid;
    border: 3px dashed black;
    padding: 10px 20px 30px 40px;
    margin: 10px;
}
#segundo{
    margin: 30px;
}