section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card{
    width: 290px;
    height: 450px;
    background-color: rgba(206, 207, 198, 0.986);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: black 1px 1px 2px;
    border-style: solid;
    border-color: yellow;
    border-width: 8px;
    
}
.card img{
    width: 250px;
    height: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: yellow;
    border-radius: 8px;
    border-width: 6px;

    
}
.card h6{
    text-align: left;
    color: rgb(3, 3, 3);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1px;
    margin-left: 18px;

    }

.card p{
    text-align: left;
    transition: color 200ms;

}
.card h1{
    text-align: right;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -4px;
    margin-right: 15px;
}
.card p:nth-child(2){
    color: black;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    margin-top: 1px;
    margin-left: 18px;
    font-size: 20px;  
}
.card p:hover,
.card h6:hover,
.card h1:hover{
    color: gray;
    transition: color 200ms;
}

.card p:nth-child(5){
    color: black;
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    border-radius: 10px;
    width: 280px;
    height: 55px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.card p:nth-child(6){
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}