div{
    height: 20px;
    width: 30px;
    background-color: blueviolet;
    position: absolute;
}
.blue{
    background-color: blue;
    z-index: 0;
    top: 20px;
    left: 30px;
}
.yellow{
    background-color: yellow;
    z-index: 1;
    top: 10px;
    left: 20px;
}
.red{
    background-color: red;
    z-index: -1;
    top: 30px;
    left: 40px;
}